//--  Fonts --//

$td-lt: 'TradeGothic LT';
$td-lt-light: 'TradeGothic LT Light';
$td-cn-18-bd-20: 'TradeGothic LT CondEighteen BoldCondTwentyObl';
$td-bd-2: 'TradeGothic LT BoldTwo';
$td-bd-ext: 'TradeGothic LT BoldExtended';
$td-lt-ob: 'TradeGothic LT LightOblique';
$td-bd-ob: 'TradeGothic LT BoldOblique';
$td-bd: 'TradeGothic LT Bold';
$td-cn-18: 'TradeGothic LT CondEighteen';
$td-lt-exp: 'TradeGothic LT Extended';
$td-lt-ob: 'TradeGothic LT Oblique';
$td-lt-cn-20: 'TradeGothic LT Cond Twenty';
$td-lt-bd-2-ob: 'TradeGothic LT-BoldTwoOblique';
$td-lt-cn-18-ob: 'TradeGothic LT CondEighteenObl';

// -- Fonts Main -- //
$td-got-lt-std: 'Trade Gothic LT Std';
$td-got-lt-std-bd-Cn-20: 'Trade Gothic LT Std BdCn20';



// -- Colors -- //

$white: #ffffff;
$red: #e31a2c;
$wine: #ef3b4b;
$black: #000000;
//$dk-brand: #171717;
$dk-brand: #e31a2c;
$gray-txt: #333333;
$gray-lt: #DEDEDE;
$gray-d8: #D8D8D8;

// -- Colors Main -- //
$color-main: #ce1126;
$color-second: $black;
$color-third: #bca25f;
$color-four: #191919;
