input {

  &[type="text"],
  &[type="email"],
  &[type="number"] {
    @extend %box;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: palette(grays, light);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: palette(grays, light);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: palette(grays, light);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: palette(grays, light);
    }
  }

  &[type="number"] {
    -moz-appearance:textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
  }
}
