
%button {
  cursor: pointer;
  display: block;
  width: 100%;
  line-height: em(40px, ms(5));
  padding: em(16px, ms(5)) em(24px, ms(5));
  @include ms-respond(font-size, 5);
  text-align: center;
  color: palette(base, white);
  font-family: $font-stack-mono;
  text-transform: uppercase;
  background-color: palette(base, secondary);

  &:hover {
    @extend %transition;

    @include breakpoint(tablet-landscape-up) {
      background-color: darken(palette(base, secondary), 10%);
      color: palette(base, white);
    }
  }
}

.button {
  @extend %button;

  @include m(secondary) {
    font-family: $font-stack-sans;
    font-size: ms(4, $thread: a);
    line-height: em(40px, ms(4, $thread: a));
    padding: em(9px, ms(4, $thread: a)) em(12px, ms(4, $thread: a)) em(12px, ms(4, $thread: a));
    text-transform: initial;
    font-weight: 700;
    background-color: rgba(palette(base, black), .3);
    border: 3px solid palette(base, white);
  }

  @include m(solid) {
    color: palette(base, white) !important;
    background-color: palette(base, secondary);
  }

  @include m(md) {
    line-height: em(48px, ms(5));
    padding: em(10px, ms(5)) em(64px, ms(5));
    @include ms-respond(font-size, 5);
  }

  @include e(small) {
    @extend %button;
    line-height: 24px;
    padding: 12px;
    @include ms-respond(font-size, 1);
    border: 0;
  }
}

.button__facebook {
  background-color: #323c69;
  text-transform: uppercase;
  height: 48px;
  line-height: 24px;
  padding: 12px;
  text-align: center;
  display: block;
  color: palette(base, white);
  font-weight: 700;
  @include ms-respond(font-size, 0);
  position: relative;
  @extend %transition;

  &::before {
    @extend %absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url("../img/icons/icon-facebook-btn.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;

  }

  @include breakpoint(tablet-landscape-up) {
    height: 56px;
    padding: 16px;

    &:hover {
      color: palette(base, white);
      background-color: darken(#323c69, 10%);
    }
  }

  @include m(disclaimer) {
    @include ms-respond(font-size, -2);
    text-align: center;
    margin-top: 4px;
    margin-bottom: 1rem;
  }
}

